NEXT_PUBLIC_SITE_URL=
MERCADOPAGO_ACCESS_TOKEN=
ADMIN_EMAILS=
ADMIN_USERNAMES=

MAILTRAP_ACCESS_TOKEN=
MAILTRAP_API_URL=
MAILTRAP_SENDER_EMAIL=
MAILTRAP_SENDER_NAME=
DUMMY_SEED_PASSWORD=
DUMMY_SEED_PRODUCTION_BYPASS=
ENVIRONMENT=development

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

VIBE_IDENTITY=matias

SUPABASE_HOST=
SUPABASE_PORT=
SUPABASE_USER=
SUPABASE_DATABASE=
SUPABASE_PASSWORD=
